<section class="artistinfo">
  <div class="artist cf" ng-model="artists">
    <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
    <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
    <h1>{{fallacies[whichItem].name}}</h1>
    <div class="info">
      <h3>{{fallacies[whichItem].head}}</h3>
      <img ng-src="images/icon-{{fallacies[whichItem].name}}.png" alt="Photo of {{fallacies[whichItem].title}}">
      <div class="bio">{{fallacies[whichItem].description}}</div>
      <h4>Example: {{fallacies[whichItem].example}}</h4>
    </div>
  </div>
  <a href="index.html">&laquo; Back to search</a>
</section>