 <!doctype html>
<html ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style type="text/css">
    .orange {
      color: orange;
    }
    .italic {
      font-style: italic;
    }
  </style>
</head>
<body>

<div ng-controller="MainController">
  <h1 ng-class="{orange: classVar, italic: classVar}">Hello there!</h1>

  <input ng-model="mydata.val">
  <input ng-model="mydata.val">
  <input ng-model="mydata.val">
  <button ng-click="mydata.val='123'">123</button>
  <h1>{{mydata.val}}</h1>

  <!--sub controller-->
  <div ng-controller="SubController">
    <input ng-model="mydata.val">
    <h1>{{mydata.val}}</h1>
  </div>
  <div ng-include="'test.html'"></div>

<script type="text/ng-template" id="test.html">
  <h1>My Template</h1>
</script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>